[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = ["chmod +x build.sh", "./build.sh"]

[start]
cmd = "gunicorn -w 2 -k eventlet --timeout 300 --graceful-timeout 30 -b 0.0.0.0:${PORT} run:app"
